.aram{margin: 50px 500px 400px 200px;
    padding: 5px 50px 450px 50px;
    width: 60%;
    height: 100px;
    background-color:#FAFAFA ;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    font-size: 70px;
}
.aram img{
    width: 60%;
    padding: 20px;
}
a{
    padding: 300px;
}